/*Sets width, height, position of container and creates a container box for text to go on
Sets background for box and animates box; will be animated only once unless refreshed*/
.log-sign
{
    display: grid;
    width: 390px;
    height: 480px;
    overflow: hidden; /*Hides content going out of the box*/
    color: white;
    padding: 30px 30px;
    font-family: 'Times New Roman';
    top:50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -43%);
    box-sizing:border-box;
    box-shadow: 12px 12px 50px #000; /*Sets shadow around box*/
    border-radius: 10px;
    background-image: linear-gradient(145deg,#232323, #150a25 50%,#001c2e);
    animation: login-sign 2s;
    animation-iteration-count: 1;
}

.space
{
    min-height: 80vh;
}

/*Animates the page
Will go from a smaller box to the normal size*/
@keyframes login-sign
{
    from 
    {
        width: 300px;
        height: 385px;
    }
    to
    {
        width: 390px;
        height: 480px;
    }
}

/*Hides checkbox*/
#chk 
{
    display: none;
}

/*Makes the login page on the whole container*/
.login
{
    position: relative;
    height: 100%;
    width: 100%;
}

/*Sets color and font characteristics for label
When hovered, sets cursor to pointer and transition takes 1sec to happen*/
label{
	color: white;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 60px;
	font-weight: bold;
	cursor: pointer;
	transition: 1s ease-in-out;
}

.signup label
{
    margin-bottom: 20px;
}

/*Styles input boxes, sets width and height
Sets input boxes in middle of container
Sets spaces between contents
Adds a rounded border*/
.login input{
	width: 60%;
	height: 25px;
	background: #cacaca;
	justify-content: center;
	display: flex;
	margin: 25px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 7px;
}

/*Styles login button
Sets height and width
Sets color of text and background in button
sets font characteristics 
makes the curser a pointer when hovered 
makes the border rounded 
adds a transition speed when hovered*/
.login .input-btn-log
{
    width: 40%;
	height: 40px;
    background-image: linear-gradient(145deg,#b6b6b6, #7e3fdc 50%,#2295dd);
	justify-content: center;
    color: black;
    font-family: Arial;
    font-size: 20px;
	display: flex;
	margin: 25px auto;
	border: none;
	outline: none;
	border-radius: 7px;
    cursor: pointer;
    transition: .7s ease-in-out;
}

/*Changes background and text color when hovered*/
.input-btn-log:hover
{
    background-image: linear-gradient(144deg, rgb(0, 0, 0), #606055, #2d0945);
    color: white;
}

/*Sets background color gradient when signup is pressed
Sets a Height for signup form 
makes the square border rounded
Sets animation speed of 2 secs
*/
.signup
{
    height: 490px;
    border-radius: 50% / 15%;
    background-image: linear-gradient(145deg,#525252, #3b1c69 50%,#014169);
    transition: 2s ease-in-out;
}

/*Sets color of text to black and decrease size of text*/
.signup label{
	color: black;
	transform: scale(.6);
}

/*Styles login button
Sets height and width
Sets color of text and background in button
sets font characteristics 
makes the curser a pointer when hovered 
makes the border rounded 
adds a transition speed when hovered*/
.input-btn-sign
{
    width: 40%;
	height: 40px;
    background-image:linear-gradient(145deg,#000000, #1a1028 50%,#01273c);
	justify-content: center;
    color: white;
    font-family: Arial;
    font-size: 20px;
	display: flex;
	margin: 25px auto;
	border: none;
	outline: none;
	border-radius: 7px;
    cursor: pointer;
    transition: .7s ease-in-out;
}

/*Changes background and text color when hovered*/
.input-btn-sign:hover
{
    background-image: linear-gradient(145deg,#7c7c7c, #904be3 50%,#2f0056);
    color: rgb(0, 0, 0);
}

/*When checkbox is checked, content is translated to 350px upwards*/
#chk:checked ~ .signup{
	transform: translateY(-230px);
}

/*When checkbox is checked, text is scaled to its normal size*/
#chk:checked ~ .signup label{
	transform: scale(1);	
}

/*When checkbox is checked, login text is decreased in size*/
#chk:checked ~ .login label{
	transform: scale(.6);
}

/* displays content in the center 
    display content on same line 
    sets margin  */
.nextline
{
    justify-content: center;
	display: flex;
	margin: 15px auto;
}

/* Styles input field
    Adds space between input boxes
    removes broder 
    makes input box rounded 
    sets background to white*/
.nextline input
{
    padding: 8px;
	width: 60%;
	height: 25px;
	background: #cacaca;
	border: none;
	outline: none;
	border-radius: 7px;
}

/* chnages margin */
.stren 
{
    margin: auto 0px;
}


/* displays content in the center 
    display content on same line 
    sets padding  */
.checkText
{
    justify-content: center;
	display: flex;
    text-align: center;
    padding-bottom: 20px;
}
