// Game.scss

@import url("https://use.typekit.net/ykf1xtx.css");

body, .game {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: "sofia-pro", sans-serif;
  cursor: url("https://res.cloudinary.com/dilgjzsjl/image/upload/v1518293165/hcc/hand4.svg"), auto;
  counter-reset: game;
}


.rules {
  width: auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 2px 2px 1px 1px rgba(56, 58, 68, 0.466);
  border-radius: 6px;
  text-align: center;
}

.items {
  display: flex;
  justify-content: space-around;
}

.item {
  width: 300px;
}

.goodObject, .badObject {
  display: block;
  width: 120px;
  height: 120px;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
  cursor: pointer;
  appearance: none;
  animation-name: falling;
  animation-timing-function: linear;
  animation-duration: 3s; /* Duration of the animation */
  animation-iteration-count: infinite; /* Make the animation loop infinitely */
}

.goodObject {
  @for $i from 1 through 10 {
    $speed: randomNum(3, 6) + "s";
    $delay: randomNum(0, 5) + "s";
    $left: random(95) + "%";
    $goodImages: (
      "https://res.cloudinary.com/dilgjzsjl/image/upload/v1517495694/hcc/icons/good1.svg",
      "https://res.cloudinary.com/dilgjzsjl/image/upload/v1517495694/hcc/icons/good2.svg",
      "https://res.cloudinary.com/dilgjzsjl/image/upload/v1517495694/hcc/icons/good3.svg"
    );
    $goodImg: nth($goodImages, random(length($goodImages)));

    &:nth-child(#{$i}) {
      background: url($goodImg);
      animation-duration: #{$speed};
      animation-delay: #{$delay};
      left: #{$left};
    }
  }
}

.badObject {
  @for $i from 1 through 10 {
    $speed: randomNum(3, 6) + "s";
    $delay: randomNum(0, 5) + "s";
    $left: random(95) + "%";
    $badImages: (
      "https://res.cloudinary.com/dilgjzsjl/image/upload/v1517495694/hcc/icons/bad1.svg",
      "https://res.cloudinary.com/dilgjzsjl/image/upload/v1517495694/hcc/icons/bad2.svg",
      "https://res.cloudinary.com/dilgjzsjl/image/upload/v1517495694/hcc/icons/bad3.svg",
      "https://res.cloudinary.com/dilgjzsjl/image/upload/v1517495694/hcc/icons/bad4.svg",
      "https://res.cloudinary.com/dilgjzsjl/image/upload/v1517495694/hcc/icons/bad5.svg"
    );
    $badImg: nth($badImages, random(length($badImages)));

    &:nth-child(#{$i}) {
      background: url($badImg);
      animation-duration: #{$speed};
      animation-delay: #{$delay};
      left: #{$left};
    }
  }
}

.scoreContainer {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.score {
  font-size: 24px;
  color: #f80000;
}
.countdownBar {
  position: absolute;
  width: 100%;
  top: 0;
  height: 50px;
  background-color: #9edbe8;
  z-index: 5;
}

.countdownBar::after {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background-color: #388da0;
  left: 0;
  animation: countDown 20s 5s linear forwards;
}

@keyframes countDown {
  0% {
    width: 0;
  }
  85% {
    width: 85%;
    background-color: #388da0;
  }
  85.1% {
    width: 85.1%;
    background-color: #c56971;
  }
  100% {
    width: 100%;
    background-color: #c56971;
  }
}

@keyframes falling {
  from {
    transform: translateY(-15vh);
  }
  to {
    transform: translateY(100vh);
  }
}
